<ul class="topnav" id="myTopnav">
  <li><a class="nature" href="#home">Home</a></li>
  <li><a href="#art">Art</a></li>
  <li><a href="#cars">cars</a></li>
  <li><a href="#about">About</a></li>
  <li class="icon">
    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
  </li>
</ul>