<nav>
    <ul>
        <div class="brand"> <i class="logo"></i>CouchBeard</div>

        <li><a class="active" href="#about">About</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#gallery">Art Gallery</a></li>
        <li><a href="#banner">Home</a></li>
    </ul>
</nav>