<nav>
    <ul>
        <div class="brand"> <i class="logo"></i>Storify</div>

        <li><a  href="#about">About</a></li>
        <li><a href="#cars">Cars</a></li>
        <li><a href="/#nature">Nature</a></li>
        <li><a href="/#art">Art</a></li>
    </ul>
</nav>  