<meta charset="UTF-8">
<title>CouchBeard - The Story</title>
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- CSS (load bootstrap from a CDN) -->

<link rel="stylesheet" type="text/css" href="/assets/stylesheets/index.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
