.wrap-grid {
  font-size: 0;
  display: inline;
  display: flex;
  flex-wrap: wrap; }
  .wrap-grid ul {
    list-style-type: none; }
  .wrap-grid li {
    font-size: 16px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 4px;
    width: calc(50% - 4px);
    margin-right: 8px; }
  .wrap-grid li:nth-of-type(2n) {
    margin-right: 0; }
  @media screen and (min-width: 50em) {
    .wrap-grid li {
      width: calc(25% - 6px); }
    .wrap-grid li:nth-of-type(2n) {
      margin-right: 8px; }
    .wrap-grid li:nth-of-type(4n) {
      margin-right: 0; } }
  .wrap-grid li:hover img {
    transform: scale(1.15); }
  .wrap-grid img {
    border: none;
    max-width: 100%;
    height: auto;
    display: block;
    background: #ccc;
    transition: transform .2s ease-in-out; }
