div .img {
  border: 1px solid #ccc; }
  div .img:hover {
    border: 1px solid #777; }
  div .img img {
    max-width: 100%;
    height: auto; }

div .desc {
  padding: 1em;
  text-align: center; }

* {
  box-sizing: border-box; }

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  position: relative;
  overflow: hidden;
  padding-bottom: 25%; }
  .responsive img {
    position: absolute; }

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
    padding-bottom: 50%; } }

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
    padding-bottom: 80%; } }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }
