body {
  color: #fff; }

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; }
  ul.topnav li {
    float: left; }
    ul.topnav li a {
      display: inline-block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: 0.3s;
      font-size: 17px; }
      ul.topnav li a:hover {
        background-color: #555; }

ul.topnav li.icon {
  display: none; }

@media screen and (max-width: 680px) {
  ul.topnav li:not(:first-child) {
    display: none; }
  ul.topnav li.icon {
    float: right;
    display: inline-block; } }

@media screen and (max-width: 680px) {
  ul.topnav.responsive {
    position: relative; }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0; }
  ul.topnav.responsive li {
    float: none;
    display: inline; }
  ul.topnav.responsive li a {
    display: block;
    text-align: left; } }

.wrap-grid {
  display: flex;
  flex-wrap: wrap;
  background-color: #fafafa ul;
    background-color-padding-left: 0; }
  .wrap-grid li {
    display: inline-block;
    margin-bottom: 8px;
    width: calc(95% - 4px);
    margin-right: 8px;
    text-decoration: none;
    color: black; }
  .wrap-grid li:nth-of-type(2n) {
    margin-right: 0; }
  @media screen and (min-width: 40em) {
    .wrap-grid li {
      width: calc(25% - 6px); }
    .wrap-grid li:nth-of-type(2n) {
      margin-right: 8px; }
    .wrap-grid li:nth-of-type(4n) {
      margin-right: 0; } }
  .wrap-grid li:hover img {
    transform: scale(1.15); }
  .wrap-grid img {
    border: none;
    max-width: 100%;
    height: auto;
    display: block;
    background: #ccc;
    transition: transform .2s ease-in-out; }

.no-scroll {
  overflow: hidden; }

.lightBoxBg {
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  width: 100%;
  height: 100%; }

.lightBox {
  position: fixed;
  left: 40%;
  top: 40%;
  margin: -10em 0 0 -10em;
  max-width: 100%;
  display: none; }

.prev {
  display: inline;
  position: fixed;
  left: 4px;
  top: 50%;
  width: 40px; }

.next {
  display: inline;
  position: fixed;
  right: 4px;
  top: 50%;
  width: 40px; }
