body {
  background: #fefefe;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: "Roboto Mono";
  color: #ffffff;
  background-color: #dadcdd; }

nav {
  background-color: #333; }
  nav .brand {
    margin-left: 2em;
    letter-spacing: 0.2em;
    margin-top: 1em;
    float: left;
    overflow: hidden; }
  nav ul {
    list-style-type: none;
    overflow: hidden; }
    nav ul li {
      float: right; }
      nav ul li a {
        display: block;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        padding: 1em 1em; }
        nav ul li a:hover {
          background-color: #111; }
