@charset "UTF-8";
body {
  margin: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.image-grid {
  width: 100%;
  overflow: hidden;
  padding: 12px 6px 0; }

.image__cell {
  float: left;
  position: relative; }
  @media screen and (min-width: 1847px) {
    .image__cell {
      width: 12.5%; }
      .image__cell:nth-of-type(8n+2) .image--expand {
        margin-left: -100%; }
      .image__cell:nth-of-type(8n+3) .image--expand {
        margin-left: -200%; }
      .image__cell:nth-of-type(8n+4) .image--expand {
        margin-left: -300%; }
      .image__cell:nth-of-type(8n+5) .image--expand {
        margin-left: -400%; }
      .image__cell:nth-of-type(8n+6) .image--expand {
        margin-left: -500%; }
      .image__cell:nth-of-type(8n+7) .image--expand {
        margin-left: -600%; }
      .image__cell:nth-of-type(8n+8) .image--expand {
        margin-left: -700%; }
      .image__cell:nth-of-type(8n+9) {
        clear: left; } }
  @media screen and (min-width: 1585px) and (max-width: 1846px) {
    .image__cell {
      width: 14.28571%; }
      .image__cell:nth-of-type(7n+2) .image--expand {
        margin-left: -100%; }
      .image__cell:nth-of-type(7n+3) .image--expand {
        margin-left: -200%; }
      .image__cell:nth-of-type(7n+4) .image--expand {
        margin-left: -300%; }
      .image__cell:nth-of-type(7n+5) .image--expand {
        margin-left: -400%; }
      .image__cell:nth-of-type(7n+6) .image--expand {
        margin-left: -500%; }
      .image__cell:nth-of-type(7n+7) .image--expand {
        margin-left: -600%; }
      .image__cell:nth-of-type(7n+8) {
        clear: left; } }
  @media screen and (min-width: 1323px) and (max-width: 1584px) {
    .image__cell {
      width: 16.66667%; }
      .image__cell:nth-of-type(6n+2) .image--expand {
        margin-left: -100%; }
      .image__cell:nth-of-type(6n+3) .image--expand {
        margin-left: -200%; }
      .image__cell:nth-of-type(6n+4) .image--expand {
        margin-left: -300%; }
      .image__cell:nth-of-type(6n+5) .image--expand {
        margin-left: -400%; }
      .image__cell:nth-of-type(6n+6) .image--expand {
        margin-left: -500%; }
      .image__cell:nth-of-type(6n+7) {
        clear: left; } }
  @media screen and (min-width: 1061px) and (max-width: 1322px) {
    .image__cell {
      width: 20%; }
      .image__cell:nth-of-type(5n+2) .image--expand {
        margin-left: -100%; }
      .image__cell:nth-of-type(5n+3) .image--expand {
        margin-left: -200%; }
      .image__cell:nth-of-type(5n+4) .image--expand {
        margin-left: -300%; }
      .image__cell:nth-of-type(5n+5) .image--expand {
        margin-left: -400%; }
      .image__cell:nth-of-type(5n+6) {
        clear: left; } }
  @media screen and (min-width: 799px) and (max-width: 1060px) {
    .image__cell {
      width: 25%; }
      .image__cell:nth-of-type(4n+2) .image--expand {
        margin-left: -100%; }
      .image__cell:nth-of-type(4n+3) .image--expand {
        margin-left: -200%; }
      .image__cell:nth-of-type(4n+4) .image--expand {
        margin-left: -300%; }
      .image__cell:nth-of-type(4n+5) {
        clear: left; } }
  @media screen and (min-width: 537px) and (max-width: 798px) {
    .image__cell {
      width: 33.33333%; }
      .image__cell:nth-of-type(3n+2) .image--expand {
        margin-left: -100%; }
      .image__cell:nth-of-type(3n+3) .image--expand {
        margin-left: -200%; }
      .image__cell:nth-of-type(3n+4) {
        clear: left; } }
  @media screen and (max-width: 536px) {
    .image__cell {
      width: 50%; }
      .image__cell:nth-of-type(2n+2) .image--expand {
        margin-left: -100%; }
      .image__cell:nth-of-type(2n+3) {
        clear: left; } }
  .image__cell.is-collapsed .image--basic {
    cursor: pointer; }
  .image__cell.is-expanded .image--expand {
    max-height: 500px;
    margin-bottom: 12px; }
  .image__cell.is-collapsed .arrow--up {
    height: 12px;
    width: 100%; }
  .image__cell.is-expanded .arrow--up {
    border-bottom: 9px solid #222;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    height: 0;
    width: 0;
    padding-top: 3px;
    margin: 0 auto 0;
    opacity: 1;
    transition: opacity 0.225s;
    transition-delay: 0.3s; }

.arrow--up {
  opacity: 0; }

.image--basic {
  padding: 0 6px; }

.basic__img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto; }

.image--expand {
  position: relative;
  left: -6px;
  padding: 0 6px;
  margin-bottom: 12px;
  box-sizing: content-box;
  overflow: hidden;
  background: #222;
  max-height: 0;
  transition: max-height 0.3s ease-in-out, margin-bottom 0.075s 0.225s; }
  @media screen and (min-width: 1847px) {
    .image--expand {
      width: 800%; } }
  @media screen and (min-width: 1585px) and (max-width: 1846px) {
    .image--expand {
      width: 700%; } }
  @media screen and (min-width: 1323px) and (max-width: 1584px) {
    .image--expand {
      width: 600%; } }
  @media screen and (min-width: 1061px) and (max-width: 1322px) {
    .image--expand {
      width: 500%; } }
  @media screen and (min-width: 799px) and (max-width: 1060px) {
    .image--expand {
      width: 400%; } }
  @media screen and (min-width: 537px) and (max-width: 798px) {
    .image--expand {
      width: 300%; } }
  @media screen and (max-width: 536px) {
    .image--expand {
      width: 200%; } }
  .is-collapsed .image--expand {
    margin-bottom: 0; }

.expand__close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #454545;
  font-size: 50px;
  line-height: 50px;
  text-decoration: none; }
  .expand__close:before {
    content: '×'; }
  .expand__close:hover {
    color: #fff; }

.image--large {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 40px;
  margin: 0 auto;
  box-sizing: border-box; }
