
$bodyFont : 'Roboto Mono';
$primary-color: #dadcdd;
$dark-nav:#333;
$white:#ffffff;

@mixin font-smoothing($smoother) {
  -webkit-font-smoothing: $smoother;
     -moz-font-smoothing: $smoother;
      -ms-font-smoothing: $smoother;
          font-smoothing: $smoother;  
}
body {
    background: #fefefe;
    @include font-smoothing(antialiased);
    font-family: $bodyFont;
    color:$white;
    background-color: $primary-color;
    
}

nav {
  background-color: $dark-nav;
  .brand {  
    margin-left: 2em;
    letter-spacing: 0.2em;
    margin-top: 1em;
    float:left;
    overflow:hidden;
  }
  ul {
    list-style-type: none;
    overflow: hidden;
    li {
    float: right;
    a {
      display:block;
      color : $white;
      text-align: center;
      text-decoration: none;
      padding: 1em 1em;
      &:hover  {  
        background-color: #111;
      }
    }
   
    }
  }
}







