
<div>
 <ul style="padding-left:1em">
{{#each elements}} 
<li class="thumbnail">

<img src = "{{ data.image.src}}" title="{{data.image.caption}}" alt="{{data.image.caption}}"
  
</li> 
   
{{/each}}    
</ul> 
     

</div>        