
<div>
  <ul>
{{#each elements}} 
<li href = "{{data.image.src}}">

<img src = "{{ data.image.src}}" title="{{data.image.caption}}" alt="{{data.image.caption}}"
     
</li>
{{/each}}   
</ul>      

</div>      