
<div>
{{#each elements}} 
<a href = "{{data.image.src}}">
  <figure>
<img src = "{{ data.image.src}}" title="{{data.image.caption}}" alt="{{data.image.caption}}"
</figure>       
</a>
{{/each}}      

</div>  