<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<div class = "wrap-grid"  id = "pictureGrid"></div>


 <div class = "clearfix"></div>
 <div id = "lgbg" class = "lightBoxBg">
 
 </div>
<div id = "lg" class="lightBox">

  <span id = "prev" class = "prev"><i class="fa fa-arrow-left fa-3x"" aria-hidden="true"></i>
</span>
 <div class="caption" id="imageTitle" ></div>

  <img id = "lgImage" src = "" />

  <span id = "next" class = "next"><i class="fa fa-arrow-right fa-3x" aria-hidden="true"></i>
</span>
</div>
<footer>
    <% include ../partials/footer %>
</footer>


<script src="assets/js/bundle.js"></script>
<!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.js"></script>-->

<script src = "handlebars/dist/handlebars.js"></script>
</body>
</html>





















